tr{
    margin: 10px;
    word-spacing: 9px;
    letter-spacing: 10px;
    padding: 25px;
}
th{
    background-color: rgb(162, 95, 224);
    padding: 40px;
}
td{
    background-color: lightgreen;
    margin: 50px;
    padding: 45px;
    text-shadow: 30px;
}
p{
    margin: 10px;width: 10px;background-color: rgb(216, 62, 6);
    padding: 10px; border: 10px;
    -webkit-text-stroke-color: rgb(5, 201, 201);
}
#full{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.num a{
    text-decoration: none;
    margin: 13px;
    list-style: none;
}
#dog{
    border: 1px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.doog{
    height: auto;
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 20px;
    background-color: aquamarine;
}
.dug{
    position: absolute;
    font-size: 32px;
    right: 50px;
    display: block;
    flex-wrap: wrap;
}